@model Futmondazo.Models.Player

@{
    ViewData["Title"] = "Player Detail";
}

<h2>@Model.Name</h2>

<div>
  
    <hr/>
    <div id="player" data-player-id="@Model.Id" class="dl-horizontal">
     
        <dt>
            Points
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt>
            Precio:
        </dt>
        <dd>
            @Model.Price.ToString("C")
        </dd>
    </div>

    <p>Evolución del jugador</p>

    <canvas id="playerChart" width="400" height="150"></canvas>

</div>

@section scripts{
    <script>

        $(document)
            .ready(function() {
                var playerId = $("#player").data("player-id");

                PlayerController.loadChart(playerId, "playerChart");
            });
    </script>
}
